*{
	padding:0;
	margin:0;
}
body{
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size:cover;
	color:white;
	justify-items:center;
	margin-top:60px;
	padding:50px;
}
a{
	text-decoration:none;
	color:#00AFF4;
}
sup{
	color:red;
}
label{
	text-align:left;
}
h1{
	text-align:center;
}
input{
	height:30px;
	width:390px;
	border-radius:10px;
	background-color:gray;
	color:white;
	border:0.5px solid transparent;
}
select{
	height:30px;
	width:130px;
	border-radius:10px;
	background-color:gray;
	border:0.5px solid transparent;
}
input[type=submit]{
	background-color:#5865F2;
}
p{
	font-size:12px;
}
span{
	
}
input[type=checkbox]{
	align-items:left;
}
a{
color: #5865F2;
text-decoration: none;	
}
.bc{
	background-color:#312e29;
	border-radius:10px;
	padding:30px;
	display:block;
	justify-content:center;
	align-items:center;
	margin:60px;
	height:500px;
	width:400px;
}
.checkbox-container {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    font-size: 14px;
}

input[type="checkbox"] {
    accent-color: #5865f2;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    margin-top: 1px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #5865f2;
    border: none;
    color: #fff;
    border-radius: 4px;
    height: 44px;
    font-size: 16px;
    margin-top: 18px;
    width: 100%;
    box-shadow: 0 2px 4px 0 #0004;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4752c4;
}
input[type="submit"]:disabled {
    background-color: #3a3f8b; /* temnejša modra, zatemnjena barva */
    cursor: not-allowed; /* pokaže, da ni klikabilen */
    opacity: 0.6; /* polprosojnost za učinek zatemnitve */
}
#password{
	width: 360px; 
	height: 30px; 
	border-radius: 10px; 
	padding-right: 30px; 
	background-color: gray; 
	border: 0.5px solid transparent; 
	color: white;
}
#togglePassword{
	position: absolute; 
	right: 10px; 
	top: 5px; 
	cursor: pointer; 
	user-select: none; 
	color: white;
}
#usernameHelp{
	color: gray; 
	font-size: 0.7em; 
	display: none;
}

