*{
	padding:0;
	margin:0;
}
body{
	background-image: url('background.png');
	color:white;
	justify-items:center;
	margin-top:100px;
	padding:50px;
}
a{
	text-decoration:none;
	color:dark blue;
}
#divi{
	display:inline;
}
.bc{
	background-color:black;
}